<article>
	<h2>Notes</h2>
	<div class="article-info">Posted on <time datetime="2014-06-22">22 June</time> by <a href="#" rel="author">Rogesson</a></div>

    <p>Now you can create notes about thing that you want to remmember =)</p>	
    
	<a href="#" class="button">Comments</a>
</article>

<article>
	<h2>Say hello to Recovery s2</h2>
	<div class="article-info">Posted on <time datetime="2014-06-14">14 June</time> by <a href="#" rel="author">Rogesson</a></div>

    <p>Welcome to Recovery, it is a Open password manager to help you to remmember and keep yours secrets.</p>
    <p>Here you can save your passwords and find them.</p>

    <p>If you want to contribute to this site, the source code is <a href="https://github.com/rogesson/recovery">here</a></p>	
    
    <p>Thanks!</p>
	<a href="#" class="button">Comments</a>
</article>
