<%= form_for(@message) do |f|%>
	<div class="field">
		Subject<br />
		<%= f.text_field :subject, placeholder: "Subject" %>
	</div>
	<div class="field">
		Body<br />
		<%= f.text_area :body, placeholder: "Body" %>
	</div>

<% end %>