<table class="altrowstable" id="alternatecolor">
	<tr>
		<th>Subject</th><th>From</th><th>Date</th>
	</tr>
	<% @received_messages.each do |message|%>
		<tr id="mes-<%= message.id %>">
			<td>
				<%= message.subject %>
			</td>
			<td>
				<!-- Remove this and use relation -->
				<%= User.find(message.sender_id).login.capitalize %>
			</td>
			<td>
				<%= message.created_at.to_date %>
			</td>
		</tr>
	<%end%>
</table>