<h3>Notes</h3>
<fieldset>
  <div  style="margin-top: 100px;">
		<table>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Action</th>
      </tr>

      <% @notes_result.each do |note| %>
        <%= render "note_grid", note: note %>
      <% end %>
  	</table>
	</div>
</fieldset>
