<h3>Notes</h3>
<fieldset>
  <br /><p>Notes are annotations about thing that you want to remmember later.</p>

  You can:

  <ul class="styledlist">
      <li>Create new <b>note</b></li>
      <li>Find all <b>notes</b></li>
  </ul>

  <a href="#" class="button">Read more</a>
  <!-- <a href="#" class="button">Comments</a> -->
</fieldset>
