<div class="notes_content">
	All Notes
	<% @notes.each do |note|%>
		<div class="notes_item" id="note_item-<%= note.id%>">
    		<p class="notes_a" value="/notes/<%= note.id%>"><%= note.title %><p>
    	</div>
	<% end %>
</div>

<script>
	$(".notes_a").on("click", function(){
		var url = $(this).attr("value");
		coloboxHTML(url);
	});
</script>