<ul id="list">
	<% @notes.each do |note|%>
	    <li> 
	    	<a href="#" value="/notes/<%= note.id%>"> <%= note.short_title %> </a>
	    </li>
    <% end %>
</ul>

<script>
	$("a").on("click", function(){
		var url = $(this).attr("value");
		coloboxHTML(url);
	});
</script>