<style>
.notes_content{
	background-color: #DCDDD7;
	width: 600px;
	margin-top: 1px;
	padding-top: 22px;
	padding-bottom: 5px;
}

.notes_item{
	background-color: #7F577A;
	width: 400px;
	margin-left: 30px;
	margin-top: 6px;
}

.notes_item p {
	color: white;
	margin-left: 10px; 
}
</style>

<div class="notes_content">

	<div class="notes_item">
		<p>item</p>
	</div>
	<div class="notes_item">
		<p>item</p>
	</div>
</div>


<% @notes.each do |note|%>
    	<a href="#" value="/notes/<%= note.id%>" class="notes_a"> <%= note.title %> </a>
<% end %>


<script>
	$(".notes_a").on("click", function(){
		var url = $(this).attr("value");
		coloboxHTML(url);
	});
</script>