<ul id="list">
	<% @notes.each do |note|%>
	    <li> 
	    	<a href="#" onclick="coloboxHtml('/notes/<%= note.id %>')"><%= note.short_title %></a>
	    </li>
    <% end %>
</ul>

<script>
	function coloboxHtml(url) {
		$.colorbox({href:url});
	}
</script>