<ul id="list">
	<% @notes.each do |note|%>
	    <li> 
	    	<a href="#" value="/notes/<%= note.id%>" class="notes_a"> <%= note.title %> </a>
	    </li>
    <% end %>
</ul>

<script>
	$(".notes_a").on("click", function(){
		var url = $(this).attr("value");
		coloboxHTML(url);
	});
</script>