<a href="#" onclick="editNote('<%= @note.id%>')">Edit</a>

<br /><br />
<h4><%= @note.title.capitalize %></h4>

<fieldset>
	<br />
	<center>
		<div>
			<textarea rows=12 cols=60><%= @note.safe_body %></textarea>
		</div>
	</center>
</fieldset>