<h4><%= @note.title.capitalize %></h4><br />

<a href="/notes/list">Back</a>
 <a href="/notes/<%= @note.id %>/edit">Edit</a>
<%= link_to 'Delete', @note, method: :delete %>

<br /><br />
<center>
	<div>
		<textarea rows=12 cols=60><%= @note.safe_body %></textarea>
	</div>
</center>
