
<img src="/assets/images/edit.png" onclick="editNote('<%= @note.id%>', $('#note_body').val())">
<img src="/assets/images/delete.png" onclick="destroyNote('<%= @note.id%>')">

<br /><br />
<h4><%= @note.title.capitalize %></h4>

<fieldset>
	<br />
	<center>
		<div>
			<textarea id="note_body" rows=12 cols=60><%= @note.safe_body %></textarea>
		</div>
	</center>
</fieldset>