
<%= @user.login.capitalize %>
<br />
<br />

Email: <b><%= @user.email %></b>

<br />
<br />

<%if @user.id != session[:user_id] %>
	<a href="/messages/new?to=<%= @user.id %>"><img src="/assets/images/msg.png"></a>
<% end %>