
<%= @user.login.capitalize %>
<br />
<br />

Email: <b><%= @user.email %></b>

<br />
<br />

<%if @user.id != session[:user_id] %>
	<a href="/messages/new?to=<%= @user.id %>">Send Message</a>
	<%= image_tag "images/msg.png" %>
<% end %>