<h3>Credentials</h3>

<p>Credentials are secrets of sites that you can store in your website.</p>

<p>Your password is safe here!</p>


You can:

<ul class="styledlist">
    <li>Create new <b>credential</b></li>
    <li>Easy find <b>credential</b></li>
 	<li>Create a <b>category</b></li>
    <li>Import your <b>credentials</b></li>
    <li>Find credentials by <b>tag</b></li>
</ul>

<a href="#" class="button">Read more</a>
<a href="#" class="button">Comments</a>






