<h3>Credentials</h3>
<fieldset>
	<br /><p>Credentials are secrets of sites that you can store in your website.</p>

	<p>Here your password is safe!</p>


	You can:

	<ul class="styledlist">
	    <li>Create new <b>credential</b></li>
	    <li>Easy find <b>credentials</b></li>
	    <!-- Lightbox Ex: <a href="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/10390942_10152961816584478_5874004246647755176_n.jpg" data-lightbox="image-1" data-title="Create Credential">Image #1</a>
		-->
    <!--<li>Create a <b>category</b></li>
	    <li>Import your <b>credentials</b></li>
	    <li>Find credentials by <b>tag</b></li> 
	-->
	</ul>

	<a href="#" class="button">Read more</a>
	<a href="#" class="button">Comments</a>
</fieldset>





