<h3>Credentials</h3>
<fieldset>
	<p>Credentials are secrets of sites that you can store in your website.</p>

	<p>Here your password is safe!</p>


	You can:

	<ul class="styledlist">
	    <li>Create new <b>credential</b></li>
	    <li>Easy find <b>credentials</b></li>
    <!--<li>Create a <b>category</b></li>
	    <li>Import your <b>credentials</b></li>
	    <li>Find credentials by <b>tag</b></li> 
	-->
	</ul>

	<a href="#" class="button">Read more</a>
	<a href="#" class="button">Comments</a>
</fieldset>





