<h3>Credentials</h3>

<fieldset>
	<div class="center-content-credentials">
		<%= render 'form_search' %>

		<br/><br/>

		<table class="altrowstable" id="alternatecolor">
			<tr>
				<th>Site</th><th>Login</th><th>Password</th>
			</tr>
			<div class='new_content'></div>
			<% @credentials_result.each do |credential|%>
				<%= render 'edit_form', credential: credential %>
			<%end%>
		</table>
	</div>
</fieldset>





