/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html,body {
  background-color: white;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 10pt;
  text-align:center;
}

h1 {
  font-size: 14pt;
  margin: 0%;
}

acronym {
  cursor: help;
}

.button-logout{
  position:absolute;
  left: 1250px;
  top: 150px;
}

.center-content-credentials{
  left: 500px;
  top: 152px;
  position:absolute;
  border-style:double;
  -webkit-border-radius: 12px 21px 32px 12px;
  border-radius: 12px 21px 32px 12px;
  width: 500px;
  height: auto;
  padding: 40px;
}

.top-img{
  width: 1345px;
  height: 100px;
  border: double;  
  -webkit-border-radius: 12px 21px 32px 12px;
  border-radius: 12px 21px 32px 12px;
}

.new_content {
  width: 300px;
  height: 300px;
  padding-top:60px;
  background-color: a9c6c9;
  position:absolute;
  left: 9px;
  top: 150px;
  border: double;
  -webkit-border-radius: 12px 21px 32px 12px;
  border-radius: 12px 21px 32px 12px;
}

.login_form {
  width: 580px;
  height: 70px;
  padding-top:60px;
  position:absolute;
  left: 740px;
  top: 40px;
  border: double;
  -webkit-border-radius: 12px 21px 32px 12px;
  border-radius: 12px 21px 32px 12px;
}

.register {
  width: 200px;
  height: 310px;
  padding-top:60px;
  position:absolute;
  left: 50px;
  top: 40px;
  border: double;
  -webkit-border-radius: 12px 21px 32px 12px;
  border-radius: 12px 21px 32px 12px;
  padding: 40px;
}

pre {
  margin: 0%;
}

div.upperleft {
  width: 520px;
  margin-left: auto;
  margin-right: auto;

  background-color: #AED7A8;
  background-image: url('upperleft.png');
  background-repeat: no-repeat;
  background-position: top left;
  text-align:left;
}

div.upperright {
  background-image: url('upperright.png');
  background-repeat: no-repeat;
  background-position: top right;
}

div.lowerleft {
  background-image: url('lowerleft.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

div.lowerright {
  background-image: url('lowerright.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 3% 3% 3% 3%;
}

div.header {
  width: 520px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(header.jpg);
  margin-bottom: 20px;
}

div.header h1 {
  font-size:24px;
  color:#FFFFFF;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  text-align:right;
  padding-right:5px;
}

div.nav {
  padding-top:149px;
  padding-left:5px;
  text-align:left;
}

.nav a, .nav a:hover, .nav a:visited {
  color:#FFF0E6;
  text-decoration:none;
  margin-right:10px;
  border-top:3px solid #333333;
}

.nav a:hover {
  border-top:3px solid green;
}

div.footer {
  background-image:url(footer.png);
  text-align:center;
  width:480px;
  height:23px;
  margin-left:auto;
  margin-right:auto;
}

/*GRID*/
table.altrowstable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #161919;
  border-collapse: collapse;
}
table.altrowstable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color:#161919;
}
table.altrowstable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #161919;
}
.oddrowcolor{
  background-color:#d4e3e5;
}
.evenrowcolor{
  background-color:#c3dde0;
}
/*GRID*/




/*button CSS*   <a href="#" class="myButton">graphicriver</a> */
.Button {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.Button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.Button:active {
  position:relative;
  top:1px;
}

/*textbox*/
.textox {
   width: 200px;
   height: 20px;
   border: solid 2px #0061a7 5%;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
}
.textox:hover  {
   border: 2px solid #474747;
}
.textox:focus  {
   border: solid 2px #474747;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
}
.textox:active  {
   border: solid 2px #474747;
}


/*combobox*/
.textox-combo {
   width: 93px;
   height: 28px;
   border: solid 2px #0061a7 5%;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
}
.textox-combo:hover  {
   border: 2px solid #474747;
}
.textox-combo:focus  {
   border: solid 2px #474747;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
}
.textox-combo:active  {
   border: solid 2px #474747;
}






