/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html,body {
  background-color: #D3E9D0;
  font-family: Trebuchet MS, Verdana, Arial, sans-serif;
  font-size: 10pt;
  text-align:center;
}

h1 {
  font-size: 14pt;
  margin: 0%;
}

acronym {
  cursor: help;
}

.button-logout{
  position:absolute;
  left: 1250px;
  top: 150px;
}

.center-content-credentials{
  left: 500px;
  top: 152px;
  position:absolute;
  border: solid;
  width: 500px;
  height: auto;
  padding: 20px;
}

.top-img{
  width: 1500px;
  height: 100px;
  border: solid;  
}

.new_content {
  width: 300px;
  height: 300px;
  padding-top:60px;
  background-color: a9c6c9;
  position:absolute;
  left: 9px;
  top: 150px;
  border: solid;
}

.login_form {
  width: 580px;
  height: 70px;
  padding-top:60px;
  position:absolute;
  left: 740px;
  top: 40px;
  border: solid;
}

.register {
  width: 200px;
  height: 310px;
  padding-top:60px;
  position:absolute;
  left: 50px;
  top: 40px;
  border: solid;
}

pre {
  margin: 0%;
}

div.upperleft {
  width: 520px;
  margin-left: auto;
  margin-right: auto;

  background-color: #AED7A8;
  background-image: url('upperleft.png');
  background-repeat: no-repeat;
  background-position: top left;
  text-align:left;
}

div.upperright {
  background-image: url('upperright.png');
  background-repeat: no-repeat;
  background-position: top right;
}

div.lowerleft {
  background-image: url('lowerleft.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

div.lowerright {
  background-image: url('lowerright.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 3% 3% 3% 3%;
}

div.header {
  width: 520px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(header.jpg);
  margin-bottom: 20px;
}

div.header h1 {
  font-size:24px;
  color:#FFFFFF;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  text-align:right;
  padding-right:5px;
}

div.nav {
  padding-top:149px;
  padding-left:5px;
  text-align:left;
}

.nav a, .nav a:hover, .nav a:visited {
  color:#FFF0E6;
  text-decoration:none;
  margin-right:10px;
  border-top:3px solid #333333;
}

.nav a:hover {
  border-top:3px solid green;
}

div.footer {
  background-image:url(footer.png);
  text-align:center;
  width:480px;
  height:23px;
  margin-left:auto;
  margin-right:auto;
}

/*GRID*/
table.altrowstable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #161919;
  border-collapse: collapse;
}
table.altrowstable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color:#161919;
}
table.altrowstable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #161919;
}
.oddrowcolor{
  background-color:#d4e3e5;
}
.evenrowcolor{
  background-color:#c3dde0;
}
/*GRID*/