<h3>Categories</h3>

<fieldset>
  <div class="center-content-credentials" style="margin-top: 100px;">
    <table>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>

      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%= category.created_at_formatted %></td>
          <td>
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %> |
              <%= link_to 'Update', category, method: :put, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</fieldset>
