<nav>
	<div class="width">
    		<ul>
        		<li class="start selected"><a href="/users/<%= session[:user_id]%>">Home</a></li>
        	    <li class=""><a href="/credentials">Credential</a></li>
          	 	<li class="end"><a href="/sessions/logout">Logout</a></li>
        	</ul>
	</div>
</nav>
