<nav>
	<div class="width">
    		<ul>
          		<% arr_url_nav.each do |url| %>
          			<% if request.fullpath.match /#{url[:href]}/ %>
          				<li class="start selected"><a href="<%= url[:href] %>"><%= url[:value] %></a></li>
          			<% else %>
          				<li><a href="<%= url[:href] %>"><%= url[:value] %></a></li>
          			<% end %>
          	 	<% end %>
        	</ul>
	</div>
</nav>