<nav>
	<div class="width">
    		<ul>
        		<li class="start selected"><a href="index.html">Home</a></li>
        	    <li class=""><a href="examples.html">Examples</a></li>
         	   	<li><a href="#">Products</a></li>
          	  	<li><a href="#">Solutions</a></li>
          	 	<li class="end"><a href="#">Contact</a></li>
        	</ul>
	</div>
</nav>
