<nav>
	<div class="width">
    <% if session[:user_id] %>
      <%= render '/layouts/nav_item', arr_url_nav: ApplicationHelper::nav_item(session[:user_id]) %>
    <% else %>
      <%= render '/users/login_form' %>
    <% end %>
	</div>
</nav>