 <aside class="sidebar">
 	<ul>
        <% if request.fullpath.match /credentials/  %>	
        	<li>
        		<h4>Credentials</h4>
                <ul>
                	<li><a href="/credentials/list">Find Credential</a></li>
                    <li><a href="/credentials/new">+ Create Credential</a></li>
                <!--<li><a href="examples.html">+ Create Category</a></li>-->
                </ul>
            </li>
        <% end %>
        <!-- 
        <li>
            <h4>About us</h4>
            <ul>
                <li class="text">
                	<p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus.<a href="#" class="readmore">Read More &raquo;</a></p>
                </li>
            </ul>
        </li>
    	-->
    </ul>
 </aside>
 <div class="clear"></div>